<div class="jumbotron">
  <h1 class="display-4">Welcome to HabitTracker!</h1>
  <p class="lead">Get started by adding a daily habit or viewing your created habits.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Add New Habit</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">View Habit List</a>
</div>