<p>
  <span class="badge bg-primary">
    Current Streak:<%= @habit.current_streak(current_user)%> 
  </span>
</p>
<%= month_calendar(events: @habit.checkins) do |date, checkins| %>
   <%= date.day %>
  <% if checkins.any? %>
    <div class="checkin-day">
      ✅
    </div>
  <% end %>
<% end %>


