<p style="color: green"><%= notice %></p>
<%= month_calendar(events: @habit.checkins) do |date, checkins| %>
  <% if checkins.any? %>
    <div class="checkin-day">
      ✅
    </div>
  <% end %>
<% end %>
